*{
    margin: 0;
    padding: 0;
}
body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    text-align: center;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

   #background {
    border: 2px hidden;
    border-radius: 70px;
    width: 100px;
    height: 100px;
    }
   #img1{
       width: 50px;
    
       height: 50px;
   }
   #img2{
       width: 50px;
       height: 50px;
   }
   main article{
    padding: 10px;
    
   }
   main a{
       text-align: center;
   }
   
   button{border: 2px solid #000000;
    margin-top: 100px;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(0,0,0,0);
    width: 100px;
    height: 100px;
}
button:hover{
    background: rgba(150, 140, 140, 0.5);
}
   h2,h3{
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }